[Unit]
Description = An expense bot
After = mediacenter.service

[Service]
Type = forking
ExecStart = /home/osmc/src/expense-bot/service/start.sh

[Install]
WantedBy = multi-user.target