[Unit]
Description = An expense bot
Wants = network-online.target
After = network-online.target mediacenter.service

[Service]
Type = simple
WorkingDirectory = /home/osmc/src/expense-bot
ExecStart = /usr/bin/python3 -m expensebot.cli -c /home/osmc/.expensebotrc
Restart = on-failure
RestartSec = 10
TimeoutStopSec = 30

[Install]
WantedBy = multi-user.target
